doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        include include/head
    body
        h1= title
        button(class='btn btn-danger')= 'Button'

        include include/foot