<!DOCTYPE html>
<html>
<head>
    <title><%= siteTitle %></title>
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
