<%- include('../include/head') %>
    <div class="main">
        <%- include('../include/navbar') %>
        <div class="container mt-4">
            <%- include('./form') %>
        </div>
    </div>
<%- include('../include/foot') %>